<ion-content [fullscreen]="true">
  <div id="container">
    <form #form="ngForm">
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col id="ion-align-self-center column" size-md="6" size-lg="5" size-xs="12">
            <div>
              <h3 id="title">Todos</h3> 
            </div><br>
            <div>
              <ion-item>
                <ion-input name="list" type="text" placeholder="Add a project to your list" ngModel required></ion-input>
              </ion-item>        
            </div>
            <div>
              <ion-button routerLink="/home" type="submit" [disabled]="form.invalid">Add</ion-button>
            </div>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>


  
</ion-content>


