<ion-content [fullscreen]="true">
  <div id="container">
    <form #form="ngForm">
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col id="ion-align-self-center column" size-md="6" size-lg="5" size-xs="12">
            <div>
              <h3 id="title">Todos</h3> 
            </div><br>
            <div>
              <ion-item>
                <ion-input name="list" placeholder="Add a project to your list" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()"></ion-input>
              </ion-item>        
            </div>
            <div>
              <ion-button type="submit"(click)="addTodo()">Add</ion-button>
            </div>
            <section *ngIf="todos.length > 0">
              <ul  class="list">
                <li *ngFor="let item of todos">
                  <div>
                    <input class="completeBox" type="checkbox" (click)="toggleTodoComplete(item)" [checked]="item.complete">
                    <label>{{item.title}}</label>
                    <button class="delete" (click)="deleteTodo(item)">Delete</button>
                  </div>
                </li>
              </ul>
            </section>
            <footer class="footer" *ngIf="todos.length > 0">
              <span class="todo-count">
                <strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
            </footer>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </form>
    
    
    
  </div>
</ion-content>


