<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-content >
      <form class="box" action="FORM.html" method="post">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="6" size-xs="10" size-xl="4">
              <div text-center>
                <h3 >Register Here</h3>
                
              </div>
              <br>

              <br>
              <div>
              
                <ion-item>
                  <ion-input name="email" type="email" placeholder="Email or Username" [(ngModel)]="form.email" ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input name="password" type="password" placeholder="Password" [(ngModel)]="form.password"></ion-input>
                </ion-item>
              </div>
              <div >
                <ion-button routerLink='/home' size="large" type="submit" (click)="register()" expand="block">Register</ion-button>
              </div>
              <div>
                <ion-row>
                <div text-center>
              If you have an account, please <a routerLink='/login'>
                login</a>
                </div>
            </ion-row></div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-content>
  </ion-content>
